@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {

  /* Common styles for both light and dark modes */
  &.light-mode {
    background-color: white;
    color: black;
  }

  &.dark-mode {
    background-color: black;
    color: white;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;

      @include lg{
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle{
        @include lg{
          display: none;
        }
      }
    }
  }
}
